body {
	padding: 0;
	margin: 0;
	background-color: #fafafa;
}

#navbar {
	padding: 27px 180px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #DDD;
	font-family: Arial, sans-serif;
	background-color: #fafafa;
}

#navbar .home a {
	color: #000;
	text-decoration: none;
}

#navbar .home .logo {
	font-size: 24px;
	padding-right: 14px;
	border-right: 1px solid #000;
}

#navbar .home .ins {
	font-size: 28px;
	font-family: 'Indie Flower', cursive;
	padding-left: 14px;
}

#navbar .ip-group {
	position: relative;
	border-radius: 3px solid #ddd;
}

#navbar .ip-group .search {
	padding: 5px;
}

#navbar .ip-group .icon {
	color: #ccc;
	position: absolute;
	right: 0;
	top: 5px;
}

#navbar .link-group .far {
	color: #000;
	font-size: 24px;
	padding-right: 20px;
	font-weight: 300;
}


#profile {
	display: flex;
	align-items: center;
	padding-left: 175px;
	padding-top: 80px;
}

#profile .ava {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-image: url('./img/ava.jpg');
	background-position: center;
	background-size: cover;
	margin: 0 75px;
}

#profile .info {
	display: flex;
	flex-direction: column;
}

#profile .info .first-info {
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}

#profile .info .first-info .name {
	font-size: 32px;
	font-weight: 300;
	margin-right: 20px;
}

#profile .info .first-info .edit {
	font-size: 14px;
	padding: 8px;
	margin-right: 20px;
	border: 0.5px solid #ddd;
	border-radius: 5px;
}

#profile .info .first-info .icon {
	font-size: 32px;
}

#profile .info .first-info a {
	color: #000;
	text-decoration: none;
}

#profile .info .second-info {
	display: flex;
	margin-bottom: 18px;
	font-size: 18px;
}

#profile .info .second-info .post {
	margin-right: 40px;
}

#profile .info .second-info .follower {
	margin-right: 40px;
}

#profile .info .third-info {
	font-size: 24px;
}


#post {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin: 80px 180px;
	padding: 0 20px;
	border-top: 1px solid #DDD;
}

#post .menu {
	display: flex;
	justify-content: space-around;
	margin-left: 200px;
	margin-right: 200px;
}

#post .menu .post-link {
	color: #000;
	text-decoration: none;
	font-size: 18px;
	padding: 15px 5px;
}

#post .menu .active {
	border-top: 1px solid #000;
}

#post .row {
	padding: 5px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

#post .row .love {
	background-image: url('./img/love.jpg');
	background-size: cover;
	background-size: center;
	width: 293px;
	height: 293px;
	margin-right: 20px;
}

#post .row .me {
	background-image: url('./img/me.jpg');
	background-size: cover;
	background-size: center;
	width: 293px;
	height: 293px;
	margin-right: 20px;
}

#post .row .family {
	background-image: url('./img/family.jpg');
	background-size: cover;
	background-size: center;
	width: 293px;
	height: 293px;
	margin-right: 20px;
}

#post .row .img .overlay {
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
}

#post .row .img:hover .overlay {
	background-color: rgba(0, 0, 0, 0.3);
	opacity: 1;
	transition: all 300ms;
}

#post .row .img .overlay .far {
	margin: 30px;
	font-size: 25px;
	color: #fff;
}