body {
	padding: 0;
	margin: 0;
	background-color: #fafafa;
}

#profile {
	display: flex;
	align-items: center;
	padding-left: 175px;
	padding-top: 80px;
}

#profile .ava {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background-image: url('./img/ava.jpg');
	background-position: center;
	background-size: cover;
	margin: 0 75px;
}

#profile .info {
	display: flex;
	flex-direction: column;
}

#profile .info .first-info {
	display: flex;
	align-items: center;
	margin-bottom: 18px;
}

#profile .info .first-info .name {
	font-size: 32px;
	font-weight: 300;
	margin-right: 15px;
}

#profile .info .first-info .edit {
	font-size: 14px;
	padding: 8px;
	margin-right: 15px;
	border: 0.5px solid #ddd;
	border-radius: 5px;
}

#profile .info .first-info .icon {
	font-size: 32px;
}

#profile .info .first-info a {
	color: #000;
	text-decoration: none;
}

#profile .info .second-info {
	display: flex;
	margin-bottom: 18px;
	font-size: 18px;
}

#profile .info .second-info .post {
	margin-right: 40px;
}

#profile .info .second-info .follower {
	margin-right: 40px;
}

#profile .info .third-info {
	font-size: 24px;
}